<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice </title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h2>TIMESTAMP</h2>
      <ul>
        <li>An app that converts the date into unix and utc respectively</li>
       
      </ul>

      
    </div>
    <div class="footer">
      <p>
        By <a href="https://github.com/gakiokevin/">Kevin</a>
      </p>
    </div>
  </body>
</html>
